body {
    background-image: linear-gradient(to bottom right, rgba(15, 141, 143, 0.32), rgba(15, 141, 143, 0.35)),url("../img/Version2d93a8edc617cbd28af43f9264d907486.gif");
    background-size: auto;
    font-family: 'Titillium Web', sans-serif;
}